/* Styles for the navigation bar */
.navbar {
  background-color: #08539f;
  padding: 1rem;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  color:white;
  text-decoration: underline;
}

/* Styles for the links below the navbar */
a.nav-link {
  display: block; /* Display the links one by one */
  margin: 1rem 0; /* Add some space between each link */
  font-size: 1.2rem;
  color:blue;
  text-decoration: none;
}

/* Styles for the navigation bar */
.navbar {
  background-color: #0d5ba9;
  padding: 1rem;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  color: #007bff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}



/* Styles for the links below the navbar */
a.nav-link {
  display: block; /* Display the links one by one */
  margin: 1rem 0; /* Add some space between each link */
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
}

a.nav-link:hover {
  color: #0056b3;
  text-decoration: underline;
}
a.nav-links{
  color:white;
}

