
<!-- <button type ="submit" class="btn btn-primary" (click)="register()">Register User</button>
<button type ="submit" class="btn btn-primary" (click)="forgotpassword()">forgot password</button>
<a routerLink = "/forgotpassword" target="_blank">Forgot Password</a>
<button type ="submit" class="btn btn-primary" (click)="login()">login</button>

{{fullNameFromChild}}

{{accountNumber}} 
<a routerLink="/addrestaurant"> Restaurant </a> -->

<nav class="navbar">
    <div class="container">
      <a href="/" class="navbar-brand">MyBank</a>
      <ul class="navbar-nav">
        <li class="nav-item">
         
          <a routerLink="/createaccount" class="nav-links">Account Creation</a>

        </li>
       
      </ul>
    </div>
    </nav>
    <div class="link-group">
      <a routerLink="/deposit" class="nav-link">Deposit</a>
      <a routerLink="/withdraw" class="nav-link">Withdraw</a>
      <a routerLink="/loansearch" class="nav-link">Account LookUp</a>
    </div>





<router-outlet></router-outlet>
